body {
  font-family: Ubuntu;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 58px;
  margin: 53px 10% 117px 10%;
  max-width: 1181px;
}

.logo-container {
  display: flex;
  gap: 25px;
}

.list-container {
  display: flex;
  list-style: none;
  gap: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #202020;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #202020;
}

.nav-button {
  border: none;
  width: 100px;
  height: 24px;
  background: #5528ff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
/* Content */

.section-container {
  margin: 0 5% 110px 5%;
}
h1 {
  font-size: 57px;
  align-items: center;
}
.text-container {
  font-size: 32px;
}
.content-button {
  border: none;
  width: 235px;
  height: 60px;
  background: #5528ff;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

/* footer*/
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: #f7f7f7;
  width: 80%;
  max-width: 1181px;
}
.socialmedia-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.service-container {
  margin: 0 7% 200px 7%;
  display: flex;
  flex-wrap: wrap;
  gap: 82px 258px;
}

.single-service-container {
  max-width: 400px;
}
